sudo: required
services:
  - docker

before_install:
  - docker build -t eadehem/docker-react -f Dockerfile.dev .
# language: generic

script:
  - docker run -e CI=true eadehem/docker-react npm run test
